<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Form</title>
</head>
<body>
    <form action="/story">
        <h1>Create Madlibs Stories</h1>
        <lable >Place:</lable>
        <input type="text" name="place" > 
        <lable >Noun</lable>
        <input type="text" name="noun" > 
        <lable >Verb</lable>
        <input type="text" name="verb" > 
        <lable >Adjective</lable>
        <input type="text" name="ajective" > 
        <lable >Plural_Noun</lable>
        <input type="text" name="plural_noun" > 
        <lable >Color:</lable>
        <input type="text" name="color" > 
        <button>Submit</button>      
    </form>
    
</body>
</html>